
.number{
  width: 4%;
}
.name{
  width: 10% ;
  height: 20px;
  margin-right: 50px;
  background-color: rgb(248, 221, 213);
}
.Nav{
  background-color: rgb(202, 255, 202);
  padding: 10px;
  border-radius: 15px;
} 
.container{

border-left: 10px solid rgb(166, 207, 241);
}